.custom-nav {
  background-color: rgb(31, 60, 224);
}


.nav-spacing,
.nav-spacing.nav-link,
.navbar-nav .nav-link {
  margin-right: 70px;
  color: rgb(230, 235, 240);
}


.nav-link:hover,
.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: rgb(111, 185, 225);
}


.navbar-brand {
  color: rgb(239, 238, 237) !important;
  padding-right: 90px;
  font-family:cursive;
}

.navbar-nav .dropdown-toggle,
.navbar-nav .dropdown-item {
  color: rgb(230, 235, 240);
  background-color: transparent;
}

.navbar-nav .dropdown-menu {
  background-color: rgb(31, 60, 224); 
  border: none;
}

.icon-link svg {
  color: rgb(230, 235, 240);
  margin-right: 20px;
  transition: color 0.2s;
}

.icon-link:hover svg {
  color: rgb(111, 185, 225);
}
.cartCount {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 223, 223, 0.537);
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  color: black;
  top: 0;
  right: 0px;
  border-radius: 10px;
}
